{% extends "base.html" %} {% block content %}
<h1>Home Page</h1>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, illo sunt!
  Alias quia quae sunt similique fugiat omnis impedit culpa libero numquam magni
  delectus laborum esse, eos accusantium ducimus molestiae. Iure eaque ea quae
  perferendis quos accusantium, ad distinctio beatae laboriosam omnis quisquam
  iusto quibusdam vel eum non odio atque culpa dolores, saepe nisi quis.
  Nesciunt ad quia eos nostrum, praesentium magni deserunt deleniti, dolores
  eveniet rem soluta ut sequi magnam adipisci perferendis architecto, labore
  asperiores consequatur? Soluta iure odio suscipit, illo labore accusantium,
  reprehenderit culpa hic debitis cum asperiores in eligendi? Sint, nulla
  soluta. Dolorum unde nam saepe repellat.
</p>
{% endblock %}
