{% extends "base.html" %} {% block content %}
<main class="container mt-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center display-3">Tasks</h1>

      <ul class="list-group">
        {% for task in tasks %}
        <li class="list-group-item mb-3">
          Title:
          <strong>{{ task.title }}</strong>
          <br />
          Description: {{ task.description }}
          <br />
          Date creation : {{ task.created_at }}
          <br />
          <a href="{% url 'task_detail' task.id %}">View Details</a>
          <br />

          {% if task.important %}
          <span style="color: red;">(Important)</span>
          <br />

          {% endif %}
          <br />
        </li>
        {% empty %}
        <li>No tasks available.</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</main>
{% endblock %}
